# This is the configuration file for your powerline-shell prompt
# Every time you make a change to this file, run install.py to apply changes
#
# For instructions on how to use the powerline-shell.py script, see the README

# Add, remove or rearrange these segments to customize what you see on the shell
# prompt. Any segment you add must be present in the segments/ directory

# segments displayed on the left
SEGMENTS = [
    'hostname',   # Show the current hostname
    'ssh',        # Show a padlock when ssh-ing from another machine
    'cwd',        # Show the current directory.
    'read_only',  # Show a padlock if the current user has no write access
]

# segments displayed on the right
SEGMENTS_RIGHT = [
    'git',        # Show the current git branch and status
    'time',       # Show the current time
]

# segments displayed on the second line
SEGMENTS_DOWN = [
    'username',   # Show the current user's username
    'hand',       # Show a 'middlefinger' if root, 'hand' otherwise
]

# Change the colors used to draw individual segments in your prompt
THEME = 'default'
